<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Busca</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
         </style>
    </head>
    <body>
    <div class="container">
      <form action="/app/Hellpers/Cadastro.php">
        <h2>Cadastro Aluno</h2>
    
        <label for="username">Nome:</label>
        <input type="text" id="username" name="nome" required>
    
        <label for="bi">Bilhete de Identidade:</label>
        <input type="text" id="email" name="bi" required>
    
        <label for="data">Data de Nascimento:</label>
        <input type="date" id="data" name="data" required>
    
        <button type="submit">Cadastrar</button>
      </form>
    </div>
      
 
</body>
</html>
